h1 {
color: purple; 
text-align: center;
font-size: 100px;
background-color: black;
}

a:link, a:visited {
  background-color: black;
  color: purple;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

a:active {
  color: white;
}

body{
text-align: center;
background-color: hotpink;
margin:0;
}
